In [3]:
import pandas as pd

df2 = pd.read_csv('/data/panopticon/datasets/satlas/metadata_v2/sentinel2.csv')
df2

                                                        dir         id
0         S2A_MSIL1C_20220905T134721_N0400_R024_T21KWS_2...  2810_4596
1         S2A_MSIL1C_20220905T134721_N0400_R024_T21KWS_2...  2821_4594
2         S2A_MSIL1C_20220905T134721_N0400_R024_T21KWS_2...  2811_4590
3         S2A_MSIL1C_20220905T134721_N0400_R024_T21KWS_2...  2815_4585
4         S2A_MSIL1C_20220905T134721_N0400_R024_T21KWS_2...  2818_4596
...                                                     ...        ...
11000745  S2B_MSIL1C_20220914T030519_N0400_R075_T49RFJ_2...  6645_3494
11000746  S2B_MSIL1C_20220914T030519_N0400_R075_T49RFJ_2...  6659_3498
11000747  S2B_MSIL1C_20220628T140709_N0400_R110_T21LWL_2...  2808_4303
11000748  S2B_MSIL1C_20220628T140709_N0400_R110_T21LWL_2...  2806_4302
11000749  S2B_MSIL1C_20220628T140709_N0400_R110_T21LWL_2...  2808_4302

[11000750 rows x 2 columns]

In [2]:
df1 = pd.read_csv('/data/panopticon/datasets/satlas/metadata_v2/sentinel1.csv')
df1

                id     time
0        4071_2653  2022-01
1        7474_4850  2022-01
2        6747_3156  2022-01
3        1880_3116  2022-01
4        4240_2826  2022-01
...            ...      ...
4533181  6677_3289  2022-06
4533182  5951_3462  2022-06
4533183  4466_2929  2022-06
4533184  5402_3556  2022-06
4533185  1923_3324  2022-06

[4533186 rows x 2 columns]

In [8]:
s2_ids = set(df2['id'].unique())
s1_ids = set(df1['id'].unique())

print(len(s1_ids), len(s2_ids), len(s1_ids - s2_ids), len(s2_ids - s1_ids))

777389 950993 0 173604

In [10]:
len(df1) / len(df1['id'].unique())

5.83129681536528